$background-NavigationBar: #5a5959;

.FilterButtonBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 86px;
  width: auto;
  height: 100%;
}

.FilterButton {
  display: flex;
  align-content: stretch;
  height: 40px;
  background-color: $background-NavigationBar;
  border-radius: 20px;
  box-shadow: 0px 2px 5px #171717;
}
