$background-NavigationBar: #2d2d2d;
$primary-color: #e94560;

.FiltersBackground {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 96px;
  background-color: $background-NavigationBar;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: $primary-color;
}

.FiltersButtonRow {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.FiltersSingleButton {
  padding-left: 5px;
}
