$background-color: #161616;
$primary-color: #e94560;

.App {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: $primary-color;
}

.App::-webkit-scrollbar {
  display: none;
}
