$background-NavigationBar: #2d2d2d;
$primary-color: #e94560;

.NavbarBaselayer {
  position: fixed;
  top: 0px;
  background-color: $background-NavigationBar;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 96px;
  width: 100%;
  box-shadow: 0px 5px 10px #171717;
}

.Items {
  display: flex;
  align-items: center;
  height: 100%;
}
